.todo-list {
    color: #F2F2F2;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    width: 736px;
    background: #262626;
    border: 1px solid #333333;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 16px 19px;
    margin: 12px auto;
}

.todo-item .span-completed {
    width: 632px;
    font-family: 'Inter';
    font-size: 14px;
    line-height: 140%;
    color: #808080;
    word-break: break-word;
    text-decoration: line-through;
}

.todo-item .span-not-completed {
    font-family: 'Inter';
    font-size: 14px;
    line-height: 140%;
    color: #F2F2F2;
    word-break: break-word;
}

.todo-item-span {
    width: 632px;
}

.todo-item .created-at {
    font-family: 'Inter';
    font-size: 8px;
    line-height: 140%;
    color: #808080;
    word-break: break-word;
    margin-left: 0.3rem;
}

.todo-item img {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.checkbox.style-d {
    margin-bottom: 15px;
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.checkbox.style-d input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox.style-d input:checked ~ .checkbox__checkmark {
    background-color: #5E60CE;
    border:none;
}

.checkbox.style-d input:checked ~ .checkbox__checkmark:after {
    opacity: 1;
}

.checkbox.style-d .checkbox__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #262626;;
    transition: background-color 0.25s ease;
    border-radius: 11px;
    border:2px solid #4EA8DE ;
}

.checkbox.style-d .checkbox__checkmark:after {
    content: "";
    position: absolute;
    left: 9px;
    top: 6px;
    width: 4px;
    height: 7px;
    border: solid #f7f1f1;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}

.counters {
    width: 736px;
    display: flex;
    justify-content: space-between;
    margin: 65px auto 25px;
}

.all-count {
    display: flex;
}

.all-count span {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #4EA8DE;
    margin-right: 8px;
}

.all-count div {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #D9D9D9;
    height: 19px;
    background: #333333;
    border-radius: 999px;
    padding: 2px 8px;
}

.completed-count {
    display: flex;
}

.completed-count span {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #8284FA;
    margin-right: 8px;
}

.completed-count div {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #D9D9D9;
    height: 19px;
    background: #333333;
    border-radius: 999px;
    padding: 2px 8px;
}

.todo-item .load {
    border: 3px solid #808080;
    border-radius: 50%;
    border-top: 2px solid #262626;
    width: 20px;
    height: 20px;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.empty-list {
    border-top: 1px solid #333333;
    height: 222px;
    width: 736px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.empty-list img {
    margin: 64px auto 16px;
}

.empty-list p {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #808080;
}